src
scripts
!dist/scripts
node_modules
todo.md
buildEnv
.eslintrc.js
tmp
.prettierrc
.releaserc.json
.github
renovate.json
.circleci
sonar-project.properties
JNPKG.png

!dist/template/.github
!dist/template/.releaserc.json

.babelrc
build.js
jest.config.js
!dist/build.js